body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}


.maingContainer {
    width: 100%;
}

.top {
    width: 100%;
    height: 18vh;
}

.backgroundImage {
    width: 100%;
    height: 80vh;
    background-image: url("https://bit.ly/3j6eD4c");
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    background-color: red;
    width: 100%;
    height: 100vh;
}